@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400&display=swap');

:root {
  --main-color: rgb(56, 167, 0);
  --hover-color: #2c8500;
  --secondary-color: #9bd47e;
  --grey: #e2e2e2;
  --dark-grey: #747474;
  --heart: #286610;
  --tip: #099e7e;
  --thirty: 30%;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Josefin Sans', sans-serif;
  background-color: white;
  padding: 0;
  margin: 0;
}

.sale {
  margin: 0;
  width: 100vw;
  height: 2.5rem;
  color: white;
  vertical-align: middle;
  display:table-cell;
  background: var(--main-color);
  text-align: center;
  font-size: 18px;
}

.steps, .address, .order {
  line-height: 1.25;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
}

.order {
  width: 90%;
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
}

.order_item {
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center;
  margin-bottom: 4rem;
}

.order_item img {
  margin-bottom: 2rem;
}

.order_item h3 {
  width: 20vw;
  text-align: center;
}

.order_item p {
  width: 20vw;
  text-align: justify center;
}

.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 0;
}

.container p {
  width: 100%;
  position: relative;
  text-align: justify center;
}

.steps_item+.steps_item {
  margin-top: 0;
}

.steps_item_inner {
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center;
}

.steps_row {
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  margin-left: 0;
  padding-bottom: 60px;
  display: flex;
  position: relative;
}

.steps_row p {
  flex-flow: nowrap;
  text-align: center;
  font-size: 14px;
  justify-content: space-evenly;
}

.steps_row:before {
  content: "";
  position: absolute;
  top: 55px;
  left: 10%;
  right: 10%;
  height: 2px;
  background-color: var(--grey);
  z-index: 5;
}

.steps_item {
  flex: 1;
  max-width: 22.5%;
  background-color: #fff;
  z-index: 10;
}

.steps_item img{
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

.card_row {
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  margin-left: 0;
  padding-bottom: 2rem;
  display: flex;
  position: relative;
  max-height: fit-content;
}

.search_content {
  margin-left: 0;
  margin-bottom: 4rem;
}

.search_content .form  {
  justify-content: space-evenly;
  vertical-align: text-top !important;
  align-items: center;
  text-align: center;
}

.pac-container {
  background-color: white;
  font-family: sans-serif;
  position: absolute !important;
  min-width: 275px;
  z-index: 1000;
  border-color: var(--main-color);
  border-style: solid;
  justify-content: space-evenly;
  border-width: 0px 2px 2px 2px;
}

.pac-icon-marker {
  display: none;
  justify-content: space-evenly;
}

.pac-logo:after {
  justify-content: space-evenly;
  text-align: center; 
  display: none; 
  background: white; 
}

.sale a:link,  .sale a:visited, 
.sale a:hover, .sale a:active {
  text-decoration: underline;
  color: white;
}

.sale a:hover, .sale a:active {
  text-decoration: none;
} 

.card {
  margin: 0;
  margin-bottom: 2rem;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  min-width: 400px;
  max-width: 400px;
  width: 400px;
  height: 550px;
  min-height: 550px;
  max-height: 550px;
}

.card_content p {
  margin: 0;
  padding: 0;
  max-width: 80%;
  text-align: center;
  margin: 1.5rem;
}

.card img {
  margin: auto;
  image-rendering: center center;
  image-rendering: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.card_title h2 {
  text-align: center;
  padding: 0;
}

.card_bottom {

}

.heart {
  color: var(--heart);
}

.weedify {
  color: var(--main-color);
}

.weedify_s {
  color: var(--secondary-color);
}

.weedify_svg {
  filter: invert(54%) sepia(64%) saturate(3543%) hue-rotate(66deg) brightness(94%) contrast(101%);
}

section {
  display: block;
}

*, *:before, *:after {
  box-sizing: border-box;
}

hr {
  margin: auto;
  margin-top: 1rem;
  width: 85%;
  background-color: var(--secondary-color);
  border: none;
  height: 1px;
}

img {
  max-width: 100%;
  max-height: 100%;
  display: block;
}

p {
  font-size: 18px;
  line-height: 1.25;
}

header {
  margin: 0;
  height: 300px;
  padding: 2rem;
  color: white;
  background: url("../content/banner.png");
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

header > * {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
}

h2 {
  font-size: 25px;
  text-align: center;
  margin-bottom: 0;
  position: relative;
  padding-bottom: 4rem;
  padding-top: 3rem;
  z-index: 0;
}

footer {
  border-top: 1px solid var(--grey);
  margin: 0;
  padding: 2rem;
  font-weight: 500;
  text-align: center;
  color: var(--main-color);
}

footer p {
  margin: 0;
  font-size: 16px;
}

button {
  font-family: sans-serif;
  font-size: 19px;
  background: var(--main-color);
  min-width: 126px;
  min-height: 58px;
  border-radius: 5px;
  padding-bottom: 3px;
  border: none;
  color: white;
}

button:hover {
  background: var(--hover-color);
  transition: ease-out 150ms;
}

button:disabled {
  background: var(--dark-grey);
}

input[type=text] {
  font-family: sans-serif;
  color: var(--dark-grey);
  font-weight: bold;
  min-width: 275px;
  width: 30%;
  min-height: 58px;
  font-size: 16px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  height: 100%;
  padding-left: 1rem;
}

input[type=text]::placeholder {
  vertical-align: middle;
  position: relative;
  text-align: left;
  font-size: 15px;
}

input[type=text]:focus-visible {
  text-indent: 1rem;
  padding-left: 0;
  outline: none;
}

/* responsive sidebar */
.sidebar {
  z-index: 10000;
  background-color: white;
  width: 200px;
  height: 100%;
  position: fixed;
  transition: 0.5s;
  box-shadow: 0px 64px 10px rgba(0,0,0,0.3);
}

.sidebar.inactive {
  display: none;
  width: 0px;
  transition: 0.5s;
}

.visible {
  display: block;
}

.hidden {
  display: none;
}

.sidebar a {
  display: block;
  color: var(--main-color);
  padding: 21px;
  text-decoration: none;
}

.sidebar a.active {
  background-color: var(--main-color);
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: var(--main-color);
  color: white;
}

/* responsive menu */
.topnav {
  width: 100%;
  height: 60px;
  z-index: 100001;
  font-family: 'Josefin Sans', sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.topnav .logo {
  padding: 0 1.5rem;
}

.topnav .link {
  float: right;
  color: var(--main-color);
  padding: 21px;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
}

.topnav .link:hover {
  color: white;
  text-decoration: none;
  background: var(--main-color);
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 875px) {
  header h1.weedify_s { color: white; }
  .topnav a.link { display: none; }
  .topnav a img.logo { display: none; }
  .topnav {
    z-index: 100001;
  }
  .topnav a.icon {
    position: absolute;
    display: block;
    margin-left: 2rem;
  }
  button {
    margin: 1rem 0 1rem 0;
    width: 275px;
  }
  .sale {
    font-size: 16px;
  }
  .card {
    margin-bottom: 2rem;
  }
}