@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400&display=swap');

:root {
  --main-color: #38a700;
  --hover-color: #2c8500;
  --secondary-color: #9bd47e;
  --grey: #e2e2e2;
  --heart: #286610;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Josefin Sans', sans-serif;
  background-color: white;
  padding: 0;
  margin: 0;
}

.sale {
  margin: 0;
  width: 100vw;
  height: 2.5rem;
  color: white;
  vertical-align: middle;
  display:table-cell;
  background: var(--main-color);
  text-align: center;
  font-size: 18px;
}

.steps {
  line-height: 1.25;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
}

.address {
  line-height: 1.25;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
}

.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
}

.container p {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
  position: relative;
}

.steps_item+.steps_item {
  margin-top: 0;
}

.steps_item_inner {
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center;
}

.steps_row {
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  margin-left: 0;
  padding-bottom: 60px;
  display: flex;
  position: relative;
}

.steps_row:before {
  content: "";
  position: absolute;
  top: 55px;
  left: 10%;
  right: 10%;
  height: 2px;
  background-color: var(--grey);
  z-index: 5;
}

.steps_item {
  flex: 1;
  max-width: 22.5%;
  background-color: #fff;
  z-index: 10;
}

.card_row {
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  margin-left: 0;
  padding-bottom: 2rem;
  display: flex;
  position: relative;
}

.search_content {
  margin-left: 0;
  margin-bottom: 3rem;
}

.search_content form {
  vertical-align: middle;
  align-items: center;
  text-align: center;
}

input[type=submit] {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
  background: var(--main-color);
  min-width: 126px;
  min-height: 58px;
  border-radius: 5px;
  border: none;
  color: white;
}

input[type=submit]:hover {
  background: var(--hover-color);
  transition: ease-out 150ms;
}

input[type=search] {
  font-family: 'Josefin Sans', sans-serif;
  line-height: 20px;
  font-size: 15px;
  height: 100%;
}

input[type=search]::placeholder {
  vertical-align: middle;
  position: relative;
  text-align: left;
  font-size: 15px;
}

input[type=search]:focus-visible {
  text-indent: 1rem;
  padding-left: 0;
  outline: none;
}

.sale a:link,  .sale a:visited, 
.sale a:hover, .sale a:active {
  text-decoration: underline;
  color: white;
}

.sale a:hover, .sale a:active {
  text-decoration: none;
} 

.card {
  margin: auto;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  max-width: 20%;
  min-width: 15%;
  min-height: 25vw;
}

.card_title h2 {
  text-align: center;
  padding: 0;
}

.card_content {
  margin: 0;
  padding: 0;
}

.card_content p {
  padding: 0;
  max-width: 85%;
  line-height: 1.25;
  text-align: justify;
  vertical-align: middle;
}

.heart {
  color: var(--heart);
}

.weedify {
  color: var(--main-color);
}

.weedify_s {
  color: var(--secondary-color);
}

.weedify_svg {
  filter: invert(54%) sepia(64%) saturate(3543%) hue-rotate(66deg) brightness(94%) contrast(101%);
}

section {
  display: block;
}

* {
  box-sizing: border-box;
}

*:before, *:after {
  box-sizing: border-box;
}

hr {
  margin: auto;
  margin-top: 1rem;
  width: 85%;
  background-color: var(--secondary-color);
  border: none;
  height: 1px;
}

img {
  max-width: 100%;
  max-height: 100%;
  display: block;
}

p {
  font-size: 20px;
  line-height: 1.3;
}

header {
  margin: 0;
  height: 300px;
  padding: 2rem;
  color: white;
  background: url("../content/banner.png");
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

header > * {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
}

h2 {
  font-size: 25px;
  text-align: center;
  margin-bottom: 0;
  position: relative;
  padding-bottom: 100px;
  padding-top: 3rem;
  z-index: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: right;
}

li a {
  font-size: 18px;
  display: block;
  font-weight: 600;
  color: var(--main-color);
  text-align: center;
  padding: 1.5rem 2rem;
  text-decoration: none;
}

li a:hover {
  background-color: var(--main-color);
  transition: ease-out 100ms;
  color: white;
}

footer {
  border-top: 1px solid var(--grey);
  margin: 0;
  padding: 2rem;
  font-weight: 600;
  text-align: center;
  color: var(--main-color);
}

footer p {
  margin: 0;
  font-size: 16px;
}